
<app-menu></app-menu> 
  <div class="container">
      <!-- Contenedor izquierdo -->
      <div class="left-container">
          <!-- Título para la sección "Empleados" -->
          <h2 class="title-table">Inventario</h2>
          
          <!-- Tabla de empleados -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Nombre</th>
                      <th>Sala</th>
                      <th>Numero de serie</th>
                      <th>Estado</th>
                      <th>Cantidad</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
          </table>
  
          
      </div>
  
  </div>
  