
<app-menu></app-menu> 
  <div class="container">
      <!-- Contenedor izquierdo -->
      <div class="left-container">
          <!-- Título para la sección "Empleados" -->
          <h2 class="title-table">Empleados</h2>
          
          <!-- Tabla de empleados -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Turno</th>
                      <th>Clases</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Ejemplo</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Ejemplo</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
  
          <!-- Título para la sección "Clientes" -->
          <h2 class="title-table">Clientes</h2>
  
          <!-- Tabla de clientes -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Fecha de inscripcion</th>
                      <th>Tipo</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Ejemplo</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Ejemplo</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  
      <!-- Contenedor derecho -->
      <div class="right-container">
        
        <span class="material-icons">
            assessment
            </span>
      </div>
  </div>
  