
<app-menu></app-menu> 
  <div class="container">
      <!-- Contenedor izquierdo -->
      <div class="left-container">
          <!-- Título para la sección "Empleados" -->
          <h2 class="title-table">Empleados de hoy</h2>
          <!-- Tabla de empleados -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Turno</th>
                      <th>Clases</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Ramon Perez</td>
                      <td>Mañana</td>
                      <td>Spining</td>
                  </tr>
                  <tr>
                      <td>Jose Juan</td>
                      <td>Tarde</td>
                      <td>Ninguna</td>
                  </tr>
              </tbody>
          </table>
  
          <h2 class="title-table">Empleados en plantilla</h2>
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Fecha de llegada</th>
                      <th>Cargo</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Ramon Perez</td>
                    <td>07/12/2024</td>
                    <td>Monitor</td>
                    <td>Trabajando</td>
                  </tr>
                  <tr>
                    <td>Sergio Perez</td>
                    <td>07/12/2024</td>
                    <td>Monitor</td>
                    <td>Trabajando</td>
                  </tr>
                  <tr>
                    <td>Jose Juan</td>
                    <td>07/12/2024</td>
                    <td>Monitor</td>
                    <td>Trabajando</td>
                  </tr>
                  <tr>
                    <td>Raul Sanchez</td>
                    <td>07/12/2024</td>
                    <td>Monitor</td>
                    <td>Vacaciones</td>
                  </tr>
                  <tr>
                    <td>Miguel Algo</td>
                    <td>07/12/2024</td>
                    <td>Mantenimiento</td>
                    <td>Baja Laboral</td>
                  </tr>               
              </tbody>
          </table>
      </div>
      <!-- Contenedor derecho -->
      <div class="right-container">
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>
        <span class="material-icons">
            assessment
            </span>        
      </div>
  </div>
  