
<app-menu></app-menu> 
  <div class="container">
      <!-- Contenedor izquierdo -->
      <div class="left-container">
          <!-- Título para la sección "Empleados" -->
          <h2 class="title-table">Empleados de hoy</h2>
          <!-- Tabla de empleados -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Turno</th>
                      <th>Clases</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Manuel Lazaro</td>
                      <td>Mañana</td>
                      <td>Yoga</td>
                  </tr>
                  <tr>
                      <td>Pedro Juan</td>
                      <td>Tarde</td>
                      <td>Spining</td>
                  </tr>
              </tbody>
          </table>
  
          <h2 class="title-table">Empleados en plantilla</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Turno</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{ employee.name }} {{ employee.lastName }}</td>
                <td>{{ employee.role }}</td>
                <td>{{ employee.status}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- Contenedor derecho -->
      <div class="right-container">
        <h2>Usuarios por Hora</h2>
        <div class="separator"></div>
        <div class="mini-separator"></div>
        <!-- Renderizamos el gráfico solo si estamos en el navegador -->
        <div class="chart-container">
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            [legend]="barChartLegend"
          >
          </canvas>
        </div>
      </div>
  </div>
  