
<app-menu></app-menu> 
  <div class="container">
      <!-- Contenedor izquierdo -->
      <div class="left-container">
          <h2 class="title-table">Ordenes Activa</h2>
          <table class="table">
              <thead>
                  <tr>
                      <th>Trabajador</th>
                      <th>Sala</th>
                      <th>Problema</th>
                      <th>Tipo</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td>1</td>
                      <td>Roto</td>
                      <td>Urgente</td>
                  </tr>
                  <tr>
                      <td>Manuel Lazaro</td>
                      <td>212</td>
                      <td>Gotera</td>
                      <td>Normal</td>
                  </tr>
              </tbody>
          </table>
  
          <h2 class="title-table">Ordenes Cerradas </h2>
  
          <!-- Tabla de clientes -->
          <table class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Fecha de inscripcion</th>
                      <th>Tipo</th>
                      <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  
              </tbody>
          </table>
      </div>
  
      
  </div>
  