<div class="separator"></div>
<div class="separator"></div>
<div class="container">
  <div class="login-box">
    <i class="material-icons" style="font-size: 50px; vertical-align: middle;">fitness_center</i>
    <i class="material-icons" style="font-size: 50px; vertical-align: middle;">sports_soccer</i>
    <i class="material-icons" style="font-size: 50px; vertical-align: middle;">sports_martial_arts</i>
    <h1>¡Bienvenido de nuevo!</h1>
    <p></p>
    <p>Inicia Sesión</p>
    <form (ngSubmit)="onSubmit()">
      <div class="input-group" [ngClass]="{'error': !email && submitted}">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Ingresa tu correo electrónico" required>
        <div *ngIf="!email && submitted" class="error-message">Por favor, ingresa tu correo electrónico</div>
      </div>
      <div class="input-group" [ngClass]="{'error': !password && submitted}">
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Ingresa tu contraseña" required>
        <div *ngIf="!password && submitted" class="error-message">Por favor, ingresa tu contraseña</div>
      </div>
      <div class="actions">
        <button type="submit" class="btn">Ingresar</button>
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
    <div class="mini-separator"></div>
   <!-- Mostrar el mensaje de error si es que existe -->
   <p *ngIf="errorMessage" class="error-message-password">{{ errorMessage }}</p>
   <div class="mini-separator"></div>
   <p class="signup">
     ¿No tienes una cuenta?  <a routerLink="/register">Regístrate</a>
   </p>
  </div>
</div>
