@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
/************************* HEADER ******************************/
.app-header {
    background-color: #345fbb;
    color: white;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Maven Pro', sans-serif;
}

.app-header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    font-size: 20px;
}

.app-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.app-header nav ul li {
    margin-right: 20px;
}

.app-header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.app-header nav ul li a:hover {
    text-decoration: underline;
}

/************************* LEFT MENU ******************************/
#app-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 85px; /* Ancho de la barra cuando está colapsada */
    transition: width .4s cubic-bezier(.645, .045, .355, 1);
    height: 100%;
    background-color: rgb(255, 255, 255); 
    z-index: 9999;
    overflow: hidden;
   
    
    /* Menu bar con mouse encima */
    &:hover {
        width: 310px; 
        background-color: rgba(255, 255, 255, 0.920); 
    }
    ul {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 250px;
        transform: translateY(-50%);
        li {
            display: table;
            position: relative;
            height: 65px;
            width: 100%;
            border-radius: 8px; 
            overflow: hidden; 
            a {/* Menu Iconos */
                white-space: nowrap;
                display: table-cell;
                vertical-align: middle;
                font-style: normal;
                color: #345fbb; /*color del icono del menu lateral */
                line-height: 0;
                height: 100%;
                position: relative;
                padding-left: 83px;
                border-radius: inherit; 
                &:hover { /*Mouse por encima de las opcion*/
                    background-color: #496ebd33; 
                    text-decoration: none;
                    cursor: pointer;
                    transition: background 0.5s;
                }
                .nav-icn {
                    width: 36px;
                    height: 20px;
                    text-align: center;
                    margin-right: 15px; /* Separación entre el icono y el texto */
                    position: absolute;
                    left: 0;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 2px;
                }
            
                /* Menu Text Styles */
                .txt-gnl {
                    padding-left: 0px;
                    flex-grow: 1;
                    transition: border-left 0.4s ease;
                }

                &.active {
                    background: #496ebda2; 
                    color: white;
                    text-decoration: none;
                    .nav-icn {
                        .svg-icn {
                            svg {
                                fill: white;
                                path {
                                    fill: white;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    a {
        text-decoration: none;
    }
    /* Close Mobile Menu Icon */
    .close-nav-icn {
        display: none;
        cursor: pointer;
    }
    .nav-txt{
        color: #000000;
        padding-left: 12px;
        font-size: 16px;
        flex-grow: 1;
        border-left: 5px solid #345fbb;
        transition: border-left 0.4s ease;
    }
}
/************************* FOOTER ******************************/
.app-footer {
    background-color: #e8f0ff; /* Fondo azul */
    color:#000000; /* Texto blanco */
    padding: 2px 10px; /* Reduce el espacio interno */
    position: fixed; /* Fijo en la parte inferior */
    bottom: 0; /* Anclado al borde inferior */
    left: 0;
    right: 0;
    z-index: 1000; /* Capas superiores */
    font-family: 'Maven Pro', sans-serif; /* Fuente consistente */
    font-size: 12px; /* Letra más pequeña */
    display: flex; /* Usamos flexbox para la disposición */
    align-items: center; /* Centrar contenido verticalmente */
    justify-content: space-between; /* Separa el ícono y el texto */
}

/* Estilo del contenedor de contenido */
.footer-content {
    width: 100%; /* Asegura que ocupe todo el espacio horizontal */
    display: flex; /* Disposición flexible */
    justify-content: space-between; /* Ícono a la izquierda, texto a la derecha */
    align-items: center; /* Centra verticalmente */
}

/* Ícono en el footer */
.footer-icon {
    font-size: 20px; /* Tamaño del ícono */
    color: #345fbb; /* Ícono en blanco */
}

/* Estilo del texto */
.footer-text {
    text-align: right; /* Alinea a la derecha */
    margin-left: auto; /* Empuja el texto al extremo derecho */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}




