<header class="app-header">
    <div class="header-content">
        <h1>Oficina Virtual</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

    <nav class="app-menu" id="app-menu">
      <ul class="nav-menu">
          <li>
              <a [routerLink]="['/home']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">home</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Inicio
                      </span>
                  </div>
              </a>
          </li>
          <li>
              <a [routerLink]="['/center']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">business</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Centro
                      </span>
                  </div>
              </a>
          </li>
          <li>
              <a [routerLink]="['/employee']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">group</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Empleados
                      </span>
                  </div>
              </a>
          </li>
          <li>
              <a [routerLink]="['/payment']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">payments</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Pagos
                      </span>
                  </div>
              </a>
          </li>
          <li>
              <a [routerLink]="['/order']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">build</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Orden de Reparacion
                      </span>
                  </div>
              </a>
          </li>
          <!-- <li>
            <a [routerLink]="['/inventory']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">inventory_2</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Inventario
                      </span>
                  </div>
              </a>
          </li> -->
          <li>
                <a [routerLink]="['/class']" routerLinkActive="active">
                  <span class="nav-icn">
                      <div class="btn-show-style">
                          <i class="material-icons">school</i>
                      </div>
                  </span>
                  <div class="txt-gnl">
                      <span class="nav-txt">
                          Clases
                      </span>
                  </div>
              </a>
          </li>
      </ul>
      <div ng-include="'assets/icons/close.svg'" class="close-nav-icn" ng-click="menuVM.hideMenu()"></div>
  </nav>
  
  <div class="mobile-menu" ng-click="menuVM.showMenu()"></div>

  <footer class="app-footer" id="app-footer">
    <div class="footer-content">
        <span class="footer-icon material-icons">business</span>
        <p class="footer-text">© 2024 Oficina Virtual. Todos los derechos reservados.</p>
    </div>
</footer>
