@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* El contenedor principal ocupa todo el tamaño de la pantalla */
.container {
    margin-left: 130px;
    margin-top: 60px; /* Añadimos un margen superior para dejar espacio vacío */
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow-y: auto; /* Permite hacer scroll si las tablas exceden el alto del contenedor */
}

/* Contenedor izquierdo */
.left-container {
    width: 50%; 
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Apila las tablas verticalmente */
    gap: 20px; 
    align-items: center; /* Centra la tabla dentro del contenedor */
    justify-content: center; /* Centra la tabla verticalmente */
    
}

/* Contenedor derecho */
.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Centra el contenido verticalmente */
    align-items: center;      /* Centra el contenido horizontalmente */
    padding: 20px;
    background-color: #f1f1f1;
  
}

/* Contenedor del gráfico */
.chart-container {
    display: flex;
    width: 80%;
    justify-content: center; /* Centra el gráfico horizontalmente */
    align-items: center;     /* Centra el gráfico verticalmente */
    max-height: 300px; 
}

/* Para asegurarse de que el canvas ocupe todo el espacio disponible */
canvas {
    width: 100% !important;  /* Asegura que el canvas ocupe todo el ancho del contenedor */
    height: 100% !important; /* Asegura que el canvas ocupe toda la altura del contenedor */
}

.right-container .material-icons {
    font-size: 188px; /* Tamaño del ícono */
    color: #345fbb; /* Color del ícono */
}
/* Estilo de las tablas */
.table {
    width: 80%; 
    border-collapse: collapse; /* Asegura que los bordes no se dupliquen */
    margin-bottom: 20px 0;
    border-radius: 16px; /* Borde redondeado solo en el contorno de la tabla */
    overflow: hidden; /* Oculta cualquier contenido fuera del borde redondeado */
    font-size: 0.875rem; 
}

.table th, .table td {
    padding: 12px; /* Relleno para las celdas */
    text-align: left; /* Alineación de texto a la izquierda */
    border: 1px solid #ddd; /* Línea de separación entre las columnas */
    border-radius: 0; 
}

.table th {
    background-color: #345fbb; /* Fondo para los encabezados */
    color: white; /* Color del texto en los encabezados */
    font-weight: bold; /* Texto en negrita */
}

/* Agregar una línea de separación entre las celdas de las columnas */
.table td {
    border-left: 1px solid #ddd; /* Borde izquierdo de cada celda (separación entre columnas) */
}

/* Eliminar la línea de separación para la primera columna */
.table td:first-child {
    border-left: none;
}

/* Estilo para las filas alternadas */
.table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fila gris claro para las filas pares */
}

.table tr:hover {
    background-color: #ddd; /* Color de fondo para filas cuando pasas el mouse por encima */
}

/* Estilo para el título de las tablas */
.title-table {
    font-size: 2rem; /* Tamaño de la fuente más grande */
    font-weight: 600; /* Peso de la fuente más ligero */
    color: #333; /* Color gris oscuro para el texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    position: relative; /* Para poder colocar la decoración debajo */
    margin-bottom: 15px; /* Espacio debajo del título */
    text-align: justify; /* Centrado del título */
    text-transform: uppercase; /* Convertir a mayúsculas */
}

/* Decoración del título con una línea moderna */
.title-table::before {
    position: absolute;
    bottom: -5px; /* Coloca la línea justo debajo del texto */
    left: 0;
    width: 50%; /* La línea ocupa solo la mitad del ancho */
    height: 3px; /* Altura de la línea */
    background-color: #457b9d; /* Línea de color */
    margin-left: 25%; /* Centra la línea debajo del título */
    content: none; /* Eliminar la línea debajo del título */
}
.separator {
    width: 100%;
    height: 30px; 
    background-color: transparent; 
    border: none; 
  }
.mini-separator {
    width: 100%;
    height: 15px; 
    background-color: transparent; 
    border: none; 
  } 

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Apila los contenedores verticalmente en pantallas pequeñas */
    }

    .left-container, .right-container {
        width: 100%; /* Ocupan todo el ancho de la pantalla */
    }
}
