/* Reseteo básico de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* El contenedor principal ocupa todo el tamaño de la pantalla */
.container {
    margin-left: 200px;
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

/* Contenedor izquierdo */
.left-container {
    width: 50%; /* Ocupa el 50% del ancho de la pantalla */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Apila las tablas verticalmente */
    gap: 20px; /* Espacio entre las tablas */
    overflow-y: auto; /* Permite hacer scroll si las tablas exceden el alto del contenedor */
}

/* Contenedor derecho */
.right-container {
    width: 50%; /* Ocupa el otro 50% */
   
    padding: 20px;
    overflow-y: auto; /* Permite hacer scroll si es necesario */
}

/* Estilo de las tablas */
.table {
    width: 100%; /* Las tablas ocupan todo el ancho disponible */
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px; /* Relleno para las celdas */
    border: 1px solid #ddd; /* Borde ligero para las celdas */
    text-align: left; /* Alineación de texto a la izquierda */
}

.table th {
    background-color: #457b9d; /* Fondo verde para los encabezados */
    color: white; /* Color blanco para el texto de los encabezados */
}

.table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fila gris claro para las filas pares */
}

.table tr:hover {
    background-color: #ddd; /* Color de fondo para filas cuando pasas el mouse por encima */
}
/* Estilo para el título de las tablas */
.title-table {
    font-size: 2rem; /* Tamaño de la fuente más grande */
    font-weight: 600; /* Peso de la fuente más ligero */
    color: #333; /* Color gris oscuro para el texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    position: relative; /* Para poder colocar la decoración debajo */
    margin-bottom: 15px; /* Espacio debajo del título */
    text-align: center; /* Centrado del título */
    text-transform: uppercase; /* Convertir a mayúsculas */
}

/* Decoración del título con una línea moderna */
.title-table::before {
    content: ''; /* Contenido vacío para crear la línea */
    position: absolute;
    bottom: -5px; /* Coloca la línea justo debajo del texto */
    left: 0;
    width: 50%; /* La línea ocupa solo la mitad del ancho */
    height: 3px; /* Altura de la línea */
    background-color: #457b9d; /* Línea verde */
    margin-left: 25%; /* Centra la línea debajo del título */
}
/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Apila los contenedores verticalmente en pantallas pequeñas */
    }

    .left-container, .right-container {
        width: 100%; /* Ocupan todo el ancho de la pantalla */
    }
}
