<app-menu></app-menu>
<div class="container">
  <!-- Contenedor izquierdo -->
  <div class="left-container">
    <!-- Título para la sección "Empleados" -->
    <h2 class="title-table">Monitores</h2>
    <!-- Tabla de empleados -->
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Turno</th>
          <th>Clases</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.turno }}</td>
          <td>{{ employee.className || 'Ninguna' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="separator"></div>
    <!-- Título para la sección "Clientes" -->
    <h2 class="title-table">Clientes en el centro</h2>
    <!-- Tabla de clientes -->
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha de inscripcion</th>
          <th>Tipo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.client.firstName }} {{ client.client.lastName }}</td>
          <td>{{ client.client.creationDate| date: 'dd/MM/yyyy' }}</td>
          <td>{{ client.client.subscription }}</td>
          <td>{{ client.client.status }}</td>
        </tr>
      </tbody>
    </table>
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>
  </div>
  <!-- Contenedor derecho -->
  <div class="right-container">
    <h2>Usuarios por Hora</h2>
    <div class="separator"></div>
    <div class="mini-separator"></div>
    <!-- Renderizamos el gráfico solo si estamos en el navegador -->
    <div class="chart-container">
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
        [legend]="barChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
